@model Expense_Tracker.Models.Settings.ChangePasswordDTO

<h2>Change Password</h2>

<form asp-action="SavePassword" method="post">
    <div class="form-group">
        <label asp-for="CurrentPassword">Current Password</label>
        <input asp-for="CurrentPassword" type="password" class="form-control" required />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <label asp-for="NewPassword">New Password</label>
        <input asp-for="NewPassword" type="password" class="form-control" required />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <label asp-for="ConfirmPassword">Confirm New Password</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" required />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
</form>
